.playerbody {
    padding: 30px;
    flex : 0.8;
    background: linear-gradient(rgb(91, 87, 115), rgba(0,0,0,1));
    color: white;
}

.playerbody__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.playerbody__info >img {
    height: 30vh;
    margin: 0 20px;
    box-shadow: linear-gradient(rgba(0,0,0,0.5));
}

.playerbody__infoText {
    flex: 1;
}

.playerbody__infoText > h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.playerbody__infoText > p {
    font-size: 14px;
}

.playerbody__playbutton {
    background-color: #1DB954;
    color: white;
    border-radius: 20px;
    border: none;
    outline:none;
    padding: 10px;
    min-width: 150px;
    margin-top: 10px;
}

.playerbody__playlist {
    margin-top: 20px;
}

.playerbody__playlist__rowData {
    color: white !important;
    font-weight: 600 !important;
}

.playerbody__playlist__headerData {
    color: white  !important;
    font-weight: 100 !important;
}

.playerbody__playlist__rowcolor {
    color:rgb(149, 160, 190) !important;
    font-weight: 600 !important;
}

.playerbody__playlist__rowData:hover,
.playerbody__playlist__headerData:hover,
.playerbody__playlist__playIcon:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

td:hover .playerbody__playlist__playIcon {
    visibility: visible;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.6) !important;
    color: white;
}

.playerbody__playlist__tableBody {
    height: 200px !important;
    overflow-y: scroll !important;
}

.playerbody__playlist__playIcon {
    visibility: hidden;
}

